<%- include('./partials/head') %>

<h2 class="title">Informacion del Process</h2>

<div>
    <ul>
        <li>Argumentos de entrada: <%= data.args %></li>
        <li>Path de ejecución: <%= data.execPath %></li>
        <li>Nombre de la plataforma (sistema operativo): <%= data.platform %></li>
        <li>Process id: <%= data.processID %></li>
        <li>Versión de Node.js: <%= data.nodeVersion %></li>
        <li>Memoria total reservada (rss): <%= data.memory %></li>
        <li>Carpeta del proyecto: <%= data.folder %></li>
    </ul>
</div>
