<%- include('./partials/head') %>
    <% if (addedProducts.length>0) { %>
        <div class="grid-cart">
            <div>Producto</div>
                <div>Precio</div>
                <div>Cantidad</div>
                <div></div>
                <div></div>
            <% addedProducts.forEach(product => { %>
                <div><%= product.name %></div>
                <div>$<%= product.price %></div>
                <div>cantidad:--</div>
                <div><img src="http://localhost:8080/img/<%= product.image %>" class="img-cart"></img></div>
                <button class="remove" id="<%= product.id %>" onclick="getID(this.id)">x</button>
                <% }) %>
            <% } else { %>
                <p>Tu carrito esta vacio.</p>
            <% } %>
        </div>
        
        <button class="boton-ok"><a href="http://127.0.0.1:8080/home">Ir a Inicio</a></button>

<script>
    const toRemove = [];

    function getID(valor){
        toRemove.push(valor);
        console.log(`Eliminar producto con id:${valor}`);
        fetch('/myCart',{
            method:"POST",
            body:JSON.stringify(toRemove),
            headers:{
                "Content-Type": "application/json"
            }
        }).then(result=>result.json()).then(json=>{
                console.log(json)
                window.location.replace('/myCart');
            })
    }
</script>